.Companies-care{
    margin-top: 80px;
    margin-bottom: 60px;


    .head-txt{
        font-family: Poppins;
            font-size: 13.63px;
            font-weight: 600;
            line-height: 22px;
            text-align: center;
            color: #1D2434;
            margin-bottom: 16px;
    }

    
}