@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url("./homepage/index.scss");
@import url("./healthcare/index.scss");
@import url("./navbar/navbar.scss");
@import url("./faq/faq.scss");
@import url("./footer/footer.scss");
@import url("./hire/hire.scss");
@import url("./job/jobHired.scss");
@import url("./project/index.scss");
@import url("./aboutus/index.scss");
@import url("./contactus/index.scss");
@import url("./privacy/privacy.scss");
@import url("./service/service.scss");
@import url("./serviceone/serviceOne.scss");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    overflow-y: auto;
        height: 100vh;
        width: 100%;
        scrollbar-width: none;
}

#root::-webkit-scrollbar {
    display: none;
}

  .heading-main {
      margin-bottom: 28px;
      font-family: "Poppins";
      font-size: 53.89px;
      font-weight: 600;
      line-height: 66px;
      text-align: left;
      color: #133b58;
  }

  .heading-color {
      font-family: "Poppins";
      font-size: 53.89px;
      font-weight: 600;
      background: linear-gradient(90deg, #febf24 0%, #ea4232 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
  }

  .mandatory{
    font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #ea4232;
  }

  .p-dropdown-label-container{
    display: flex;
    justify-content: space-between;
}

.p-dropdown-items-wrapper {
    background-color: white !important;
    margin-top: 10px;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.p-dropdown-items-wrapper::-webkit-scrollbar {
    display: none; 
}

.p-dropdown-item-label{
    margin: 10px;
    font-size: medium;
}
