.aboutus-glory {
  margin-top: 253px;
  padding: 0px 49px;

  .heading-color {
    font-size: 100px !important;
    text-align: center !important;
    margin-bottom: 46px;
  }

  .para {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 300;
    line-height: 37px;
    text-align: center;
    color: #133b58;
    margin-bottom: 93px;
  }

  .year-glory {
    margin-bottom: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .year {
    height: fit-content;
    padding: 27px;
    border: 2px solid #ea4232;
        display: flex;
            flex-direction: column;
            align-items: center;
  }

  .nmu {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 700;
    line-height: 44.4px;
    color: #133b58;
  }

  .txt {
    margin-left: 36px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
    color: #6b6b6b;
  }

  .txts{
    margin-left: 36px;
    margin-right: 25px;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 400;
        line-height: 27.9px;
        color: #6b6b6b;
  }

  span {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 27.9px;
    color: #6b6b6b;
  }

  .img-capture {
    margin-left: 44px;
    width: 530px;
    height: 351px;
    position: relative;
    background: #d9d9d9;
  }

  .img-captures{
        width: 530px;
        height: 351px;
        position: relative;
        background: #d9d9d9;
  }

  .thumbsup {
    position: absolute;
    height: 339px;
    bottom: -16px;
    left: -40px;
    object-fit: contain;
  }
}
