.CompanyWorking{
    .sub-head{
        padding-left: 104px;
    }

    .head-1{
        font-family: "Inter";
            font-size: 35px;
            font-weight: 400;
            line-height: 55px;
            color: #133B58;
    }

    .head-2{
            font-family: "Inter";
            font-size: 35px;
            font-weight: 700;
            line-height: 55px;
            color: #133B58;
            margin-bottom: 1rem;
    }

          .cards-container {
              display: flex;
              overflow: auto;
              align-items: center;
              gap: 54px;
              background: #FFF9F3;
              margin: auto;
              justify-content: center;
              padding: 20px;
              

          }

          .imgcontainer{
            display: flex;
          }

          .img-banner{
            width: 150px;
            height: 50px;
            object-fit: contain;
          }

          .cards-container::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge, and Firefox */
        .cards-container {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

                      
}